n8n Workflow/Scraping produits (1).json
{
  "name": "Scraping produits",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        112
      ],
      "id": "4b9da6f3-84d9-4b8c-91dd-9ec0a0acfd51",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FXDFrR4XdHcbFsZdnsIyEoKYiUTykTXLfQ7dou2EVXU",
          "mode": "list",
          "cachedResultName": "weddingUS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FXDFrR4XdHcbFsZdnsIyEoKYiUTykTXLfQ7dou2EVXU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1118377733,
          "mode": "list",
          "cachedResultName": "weddingUS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FXDFrR4XdHcbFsZdnsIyEoKYiUTykTXLfQ7dou2EVXU/edit#gid=1118377733"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Statut",
              "lookupValue": "KO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        112
      ],
      "id": "e32eba72-51cc-454b-8989-b66b64a19e04",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l2Gpa5WQj7pqsVZF",
          "name": "yasser@ensembl3.xyz"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        112
      ],
      "id": "aa2a711d-7cdf-499f-80eb-99cc1033e9c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 75
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        32,
        112
      ],
      "id": "4d3e0127-4bc4-4f80-b561-5c3fa0ad0022",
      "name": "Limit1"
    },
    {
      "parameters": {
        "command": "=python3 /Users/mac/shopify_scraper_step1.py {{ $json.domain_url }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        496,
        128
      ],
      "id": "e97f71cc-ab17-43ea-b2dc-54ee5e4fc888",
      "name": "Execute Command1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse le JSON du stdout\nconst products = JSON.parse($input.item.json.stdout);\n\n// Retourne l'array pour Split Out\nreturn products.map(product => ({ json: product }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        128
      ],
      "id": "229bc490-5902-4dc3-a189-14cdcce5086c",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "website": "={{ $json.Website }}",
            "handle": "={{ $json.handle }}",
            "sku": "={{ $json.sku }}",
            "title": "={{ $json.title }}",
            "description": "={{ $json.Description }}",
            "vendor": "={{ $json.vendor }}",
            "price": "={{ $json.price }}",
            "image": "={{ $json.image }}",
            "created_at": "={{ $now }}",
            "updated_at": "={{ $now }}",
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "handle",
              "displayName": "handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "availability",
              "displayName": "availability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        128
      ],
      "id": "f4cb4e69-92ec-4542-b1c7-896822b996a0",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "K5oyx0DqkVPtWYxL",
          "name": "Product"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "358bd172-09ea-4d28-9432-4806f3cac9f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9652f5146998cf8c54e1310e4e0f2f6fc23fd19c8a6411f1a858717a223af0"
  },
  "id": "R58zRKrSFTJR9BdR",
  "tags": []
}